<a href="https://colab.research.google.com/github/gayathri26062006/gayuu/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
Name,Age,Marks
Ramya,21,85
Shree,20,95
Rakshaya,18,80

NameError: name 'Name' is not defined

In [10]:
import pandas as pd

# Read the csv file
data=pd.read_csv("/content/archive (1).zip")

# Show first 5 rows
print(data.head())

# Describe the dataset (summary stats)
print(data.describe())

# Create a new 'Marks' column as the average of all 3 scores
data["Marks"]=data[["math score","writing score","reading score"]].mean(axis=1)

# Access the new 'Marks' column
print("Marks column:")
print(data["Marks"])

# Filter data
print("Students with marks >90:")
print(data[data["Marks"]>90])

   gender race/ethnicity parental level of education         lunch  \
0    male        group A                 high school      standard
1  female        group D            some high school  free/reduced
2    male        group E                some college  free/reduced
3    male        group B                 high school      standard
4    male        group E          associate's degree      standard

  test preparation course  math score  reading score  writing score
0               completed          67             67             63
1                    none          40             59             55
2                    none          59             60             50
3                    none          77             78             68
4               completed          78             73             68
        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.396000      69.002000      67.738000
std      15.402871      14.737272      15.600985
min      13.000000      27.000000      23.000000
25%      56.000000      60.000000      58.000000
50%      66.500000      70.000000      68.000000
75%      77.000000      79.000000      79.000000
max     100.000000     100.000000     100.000000
Marks column:
0      65.666667
1      51.333333
2      56.333333
3      74.333333
4      73.000000
         ...
995    69.333333
996    89.333333
997    36.000000
998    76.333333
999    62.333333
Name: Marks, Length: 1000, dtype: float64
Students with marks >90:
     gender race/ethnicity parental level of education         lunch  \
44     male        group E                 high school      standard
64     male        group D             master's degree      standard
87     male        group D                some college      standard
93     male        group D           bachelor's degree      standard
96   female        group E          associate's degree      standard
128    male        group E                some college      standard
129  female        group D          associate's degree  free/reduced
148  female        group E           bachelor's degree      standard
160  female        group D          associate's degree      standard
178  female        group D                some college  free/reduced
185  female        group C             master's degree      standard
224    male        group D           bachelor's degree      standard
235    male        group C          associate's degree      standard
237  female        group D                 high school      standard
273  female        group E                 high school      standard
281    male        group E          associate's degree      standard
396  female        group D          associate's degree      standard
406    male        group D                some college      standard
441  female        group C             master's degree      standard
444    male        group D           bachelor's degree      standard
470  female        group D                some college      standard
485    male        group B             master's degree      standard
498    male        group B           bachelor's degree      standard
527  female        group D                some college      standard
530  female        group C                some college      standard
550  female        group E                some college      standard
552  female        group E             master's degree  free/reduced
584    male        group C           bachelor's degree      standard
591  female        group C          associate's degree      standard
593    male        group D           bachelor's degree      standard
604  female        group D           bachelor's degree      standard
626  female        group B             master's degree      standard
634  female        group D             master's degree      standard
652  female        group C            some high school      standard
660  female        group C                 high school      standard
662  female        group C          associate's degree      standard
690    male        group B           bachelor's degree      standard
694    male        group D                some college      standard
706  female        group D           bachelor's degree      standard
732    male        group E          associate's degree      standard
748    male        group C           bachelor's degree      standard
754  female        group A             master's degree      standard
780  female        group A           bachelor's degree      standard
814    male        group D                some college      standard
816  female        group C          associate's degree      standard
825    male        group E          associate's degree      standard
826  female        group A           bachelor's degree      standard
839    male        group E                some college      standard
842    male        group A                some college      standard
854    male        group D           bachelor's degree      standard
855  female        group D             master's degree      standard
857  female        group C             master's degree      standard
860    male        group C           bachelor's degree      standard
967  female        group E             master's degree  free/reduced
970  female        group D            some high school      standard

    test preparation course  math score  reading score  writing score  \
44                     none         100             88             87
64                completed          83             93             97
87                     none          97             93             88
93                completed          94             87             93
96                completed          95            100            100
128               completed         100             84             87
129               completed          83             95            100
148               completed         100            100            100
160               completed          84             98             97
178               completed          83             93             95
185                    none          91            100             99
224                    none          99             94             97
235               completed         100             91             90
237                    none          82             95             96
273                    none          93            100             93
281               completed         100            100            100
396                    none          85            100            100
406                    none          94             92             85
441               completed          86            100            100
444               completed          93             86             95
470                    none          91             94             96
485                    none          93             96             96
498               completed          86             92             93
527               completed          89             92             97
530                    none          88            100             88
550               completed         100            100            100
552               completed          92            100             98
584                    none         100             84             88
591               completed          90             95            100
593               completed         100             97            100
604               completed          89             93            100
626               completed          96             98            100
634               completed         100            100            100
652               completed          92            100             97
660               completed          90             89             97
662                    none          92             95             95
690               completed          94             92             92
694               completed          96             95             90
706                    none          89            100            100
732                    none         100             91             86
748                    none          95             99             91
754               completed          94            100            100
780               completed          91            100            100
814                    none          91             95             88
816               completed          94             99            100
825               completed         100            100            100
826               completed          83             96             99
839               completed         100             84             88
842               completed          91             97             95
854               completed          98             94             95
855                    none          87             97            100
857                    none          85            100             97
860                    none          98             92             90
967                    none          84            100             99
970               completed          85            100             97

          Marks
44    91.666667
64    91.000000
87    92.666667
93    91.333333
96    98.333333
128   90.333333
129   92.666667
148  100.000000
160   93.000000
178   90.333333
185   96.666667
224   96.666667
235   93.666667
237   91.000000
273   95.333333
281  100.000000
396   95.000000
406   90.333333
441   95.333333
444   91.333333
470   93.666667
485   95.000000
498   90.333333
527   92.666667
530   92.000000
550  100.000000
552   96.666667
584   90.666667
591   95.000000
593   99.000000
604   94.000000
626   98.000000
634  100.000000
652   96.333333
660   92.000000
662   94.000000
690   92.666667
694   93.666667
706   96.333333
732   92.333333
748   95.000000
754   98.000000
780   97.000000
814   91.333333
816   97.666667
825  100.000000
826   92.666667
839   90.666667
842   94.333333
854   95.666667
855   94.666667
857   94.000000
860   93.333333
967   94.333333
970   94.000000